1.Add a key to a dictionary

In [ ]:
dict1={"name1":"swalih","name2":"aswin","name3":"nuhman"}
dict1["name4"]="sadiq"
print(dict1)

{'name1': 'swalih', 'name2': 'aswin', 'name3': 'nuhman', 'name4': 'sadiq'}

2.Concatenate any three dictionaries to create a new one

In [ ]:
x={"name1":"swalih","name2":"aswin"}
y={"name3":"shihfan","name4":"safvan"}
z={"name5":"sabith","name6":"nuhman"}
m=x.copy()
m.update(y)
m.update(z)
print(m)

{'name1': 'swalih', 'name2': 'aswin', 'name3': 'shihfan', 'name4': 'safvan', 'name5': 'sabith', 'name6': 'nuhman'}

3.Write a Python program to iterate over dictionaries using for loops.

In [ ]:
x={"name1":"swalih","name2":"aswin"}
for i in x:
  print(i)

name1
name2

4.Write a Python script to generate and print a dictionary that contains a
number (between 1 and n) in the form (x: x*x).

In [ ]:
from random import randrange
n=int(input("enter a number: "))
x=randrange(n+1)
d={x:x*x}
print(d)

enter a number: 6
{6: 36}

5.Write a Python script to merge two Python dictionaries

In [ ]:
x={"name1":"swalih","name2":"aswin"}
y={"name3":"shihfan","name4":"safvan"}
x.update(y)
print(x)

{'name1': 'swalih', 'name2': 'aswin', 'name3': 'shihfan', 'name4': 'safvan'}

6.Write a Python program to sum all the values in a dictionary.

In [ ]:
x={"num1":10,"num2":20}
z=x.values()
print(sum(z))

30

In [ ]:
dict1={"a":100,"b":200,"c":300}
sum=0
for i in dict1.values():
  sum+=i
print(sum)

600

7.Write a Python program to multiply all the values in above dictionary

In [ ]:
x={"num1":10,"num2":20,"num3":30}
a=1
for i in x.values():
  a *=i
print(a)

6000

8.Write a Python program to remove a key from a dictionary.

In [ ]:
x={"name1":"swalih","name2":"aswin"}
x.pop("name2")
print(x)

{'name1': 'swalih'}

9.Write a Python program to map two lists into a dictionary.

In [ ]:
keys=["a","b","c"]
values=[1,2,3]

10.Write a Python program to remove duplicates from the dictionary

In [ ]:
dict1={"name1":"swalih","name2":"aswin","name3":"swalih"}
x={}
for i,j in dict1.items():
  if j not in x.values():
    x.update({i:j})
print(x)

{'name1': 'swalih', 'name2': 'aswin'}